📄 AI Resume Screening & Interview Scheduling System — n8n Automation.json
{
  "name": "📄 AI Resume Screening & Interview Scheduling System — n8n Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8",
          "mode": "list",
          "cachedResultName": " AI Resume Screening & Interview Scheduling System (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 190633333,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8/edit#gid=190633333"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "f72c409e-dc1f-407c-ab00-60bb4ae3741b",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "c68IIL9fivRH2KRA",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=1GbW1lPuNNBspzG-elORJkYXLn_tdz6zJ",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "7f781171-9292-414c-83e7-a3ac219eacc5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hBlxLeCCJROTFMgu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        384,
        0
      ],
      "id": "2f3ca395-7b8e-4d3d-bad2-ec11a3667d57",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this candidate's resume.\n\nCandidate Name:\n{{ $('Google Sheets Trigger').item.json['Full Name'] }}\n\nPosition Applied:\n{{ $('Google Sheets Trigger').item.json['Position Applied'] }}\n\nResume Text:\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an experienced HR recruiter.\n\nAnalyze resumes objectively based only on the provided information.\n\nEvaluate:\n\n- Education\n- Technical Skills\n- Experience\n- Certifications\n- Projects\n- Achievements\n- Suitability for the applied role\n\nAssign a score from 0 to 100.\n\nClassification:\n\n80-100 → Qualified\n50-79 → Needs Review\n0-49 → Rejected\n\nDo not invent information.\n\nKeep summaries concise and professional.\n\nIf information is missing, state that it is missing instead of assuming."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        0
      ],
      "id": "4e9674f1-2a78-446d-aaf6-8872318280f2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        464,
        208
      ],
      "id": "a7330839-2248-4204-a71c-db70f28a5baf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LXedCwpImdd7fMkf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"candidate_name\": \"John Smith\",\n  \"position\": \"Junior IT Support\",\n  \"score\": 88,\n  \"rank\": \"Qualified\",\n  \"recommendation\": \"Schedule Interview\",\n  \"summary\": \"Strong IT support candidate with relevant technical skills and practical experience.\",\n  \"strengths\": [\n    \"Hardware troubleshooting\",\n    \"Windows installation\",\n    \"Basic networking\"\n  ],\n  \"weaknesses\": [\n    \"Limited professional experience\"\n  ],\n  \"missing_skills\": [\n    \"Active Directory\",\n    \"PowerShell\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        224
      ],
      "id": "dcf6dbd7-74e6-4083-812e-9a0fdc30254d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5aad66c3-b395-4d59-8cf1-7215eef77754",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        208
      ],
      "id": "1b376219-4d7a-40ea-87ce-8155102da966",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "472e4aa0-8541-4b7d-85fd-999cdcd0014d",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": "=80",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        0
      ],
      "id": "66c08ed0-0baa-4bac-8807-cb099740e207",
      "name": "Qualification"
    },
    {
      "parameters": {
        "chatId": "5518864435",
        "text": "=📌 Qualified Candidate\n\nName:\n{{ $json.output.candidate_name }}\n\nPosition:\n{{ $json.output.position }}\n\nScore:\n{{ $json.output.score }}/100\n\nRecommendation:\n{{ $json.output.recommendation }}\n\nAction:\nInterview scheduled",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        -96
      ],
      "id": "67931ef5-8ab0-4f0b-a404-7cef486e3733",
      "name": "Qualified Instruction",
      "webhookId": "ae4c7faf-0769-45d3-afe9-4c6188629f81",
      "credentials": {
        "telegramApi": {
          "id": "X1seE7bqguReBgbq",
          "name": "AI Resume Screening & Interview Scheduling System"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5518864435",
        "text": "=⚠️ Candidate Needs Review  \n\nName: {{ $json.Name }}\n\nPosition: {{ $('Qualification').item.json.output.position }}\n\nScore: {{ $json.Score }}/100  \n\nStrengths: {{ $('AI Agent').item.json.output.strengths }}\n\nWeaknesses: {{ $('AI Agent').item.json.output.weaknesses }}  \n\nMissing Skills: {{ $('AI Agent').item.json.output.missing_skills }}\n\nAction: Manual recruiter review required.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        96
      ],
      "id": "81d0bcfc-333a-40c8-9cba-06b43224937e",
      "name": "Needs Review Instruction",
      "webhookId": "79ff29c8-4da0-4d02-a7d5-59fc567d7a3f",
      "credentials": {
        "telegramApi": {
          "id": "X1seE7bqguReBgbq",
          "name": "AI Resume Screening & Interview Scheduling System"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5518864435",
        "text": "=❌ Candidate Rejected\n\nName:\n{{ $json.output.candidate_name }}\n\nPosition:\n{{ $json.output.position }}\n\nScore:\n{{ $json.output.score }}/100\n\nReason:\n{{ $json.output.recommendation }}\n\nMissing Skills:\n{{ $json.output.missing_skills }}\n\nAction:\nCandidate does not meet current requirements.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        304
      ],
      "id": "fbd744ca-76d1-474f-9830-605c852e8c3d",
      "name": "Rejected Instruction",
      "webhookId": "79ff29c8-4da0-4d02-a7d5-59fc567d7a3f",
      "credentials": {
        "telegramApi": {
          "id": "RG33sRqyjcwQOiLE",
          "name": "AI Customer Support Email Triage System"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "beliosinangote2@gmail.com",
          "mode": "list",
          "cachedResultName": "beliosinangote2@gmail.com"
        },
        "additionalFields": {
          "attendees": [
            "={{ $('Google Sheets Trigger').item.json['Email Address'] }}"
          ],
          "description": "=Candidate: {{ $json.output.candidate_name }}\n\nPosition: {{ $json.output.position }}\n\nScore: {{ $json.output.score }}/100\n\nRecommendation:\n{{ $json.output.recommendation }}\n\nSummary:\n{{ $json.output.summary }}",
          "summary": "=Interview - {{ $json.output.candidate_name }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1168,
        -96
      ],
      "id": "033d19b9-5e10-415e-9d75-b534f08b4108",
      "name": "Create an Interview event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3Ah9OsIsz5Bou8YB",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json['Email Address'] }}",
        "subject": "=Interview Invitation - {{ $('AI Agent').item.json.output.position }}",
        "emailType": "text",
        "message": "=Dear {{ $json.output.candidate_name }},\n\nCongratulations!\n\nYou have been shortlisted for the {{ $('AI Agent').item.json.output.position }} position.\n\nYour resume has been evaluated by our AI recruitment system.\n\nEvaluation Score:\n{{ $json.output.score }}/100\n\nCandidate Summary:\n{{ $('AI Agent').item.json.output.summary }}\n\nRecommendation:\n{{ $('AI Agent').item.json.output.recommendation }}\n\nYour interview schedule has been created through Google Calendar.\n\nPlease check your calendar invitation for the interview details.\n\nWe look forward to meeting with you.\n\nBest regards,\nHR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1376,
        -96
      ],
      "id": "c7045880-8763-49c1-880b-d28b1b0fcfdd",
      "name": "📧 Gmail Invitation",
      "webhookId": "306ae6c3-c6b9-401e-813b-6aecc934d275",
      "credentials": {
        "gmailOAuth2": {
          "id": "jLxWaRUIVsLiAsVq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8",
          "mode": "list",
          "cachedResultName": " AI Resume Screening & Interview Scheduling System (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1791609217,
          "mode": "list",
          "cachedResultName": "Google Sheets Update Row",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8/edit#gid=1791609217"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Score": "={{ $json.output.score }}",
            "Rank": "Needs Review",
            "Name": "={{ $json.output.candidate_name }}",
            "Resume": "={{ $('Google Sheets Trigger').item.json.Resume }}",
            "Email": "={{ $('Google Sheets Trigger').item.json['Email Address'] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        96
      ],
      "id": "a660fde9-2403-4b6a-b9b1-62b17b668df9",
      "name": "Needs Review Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OKkqDH11KnvqdjLy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8",
          "mode": "list",
          "cachedResultName": " AI Resume Screening & Interview Scheduling System (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1791609217,
          "mode": "list",
          "cachedResultName": "Google Sheets Update Row",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqI4fNaxu6K5MIw3IMcrcgQqiVgimrfo8HzBgKB-Pn8/edit#gid=1791609217"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Score": "={{ $json.output.score }}",
            "Rank": "Rejected",
            "Name": "={{ $('Google Sheets Trigger').item.json['Full Name'] }}",
            "Email": "={{ $('Google Sheets Trigger').item.json['Email Address'] }}",
            "Resume": "={{ $('Google Sheets Trigger').item.json.Resume }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        304
      ],
      "id": "0c9e21a3-fd0b-450d-9d7c-129385eb32ef",
      "name": "Rejected Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OKkqDH11KnvqdjLy",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Qualification": {
      "main": [
        [
          {
            "node": "Create an Interview event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Needs Review Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an Interview event": {
      "main": [
        [
          {
            "node": "📧 Gmail Invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail Invitation": {
      "main": [
        [
          {
            "node": "Qualified Instruction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Review Status": {
      "main": [
        [
          {
            "node": "Needs Review Instruction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected Status": {
      "main": [
        [
          {
            "node": "Rejected Instruction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "db805d83-a675-4437-bfd4-1090781d18ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "nodeGroups": [],
  "id": "KO3OpijofLtdYUzl",
  "tags": []
}